body {
    background: radial-gradient(
        circle,
        rgba(0, 138, 255, 1) 0%,
        rgba(0, 138, 255, 1) 9%,
        rgba(0, 138, 255, 1) 16%,
        rgba(9, 9, 121, 1) 81%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
}
.canvas-container {
    margin: 10px;
}
canvas {
    border-radius: 15px;
    border: 2px solid black;
}
.dice-container {
    position: absolute;
    top: 30%;
    left: 20%;
}
.navbar-container {
    display: flex;
    flex-direction: row;
}
.navbar-container > div {
    margin-right: 10px;
}
.name-container {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.timer {
    background-color: darkblue;
    color: white;
    position: relative;
    bottom: 60px;
    left: 82px;
    border: 1px solid white;
    padding: 1px;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}
