body {
    background: radial-gradient(
        circle,
        rgba(0, 138, 255, 1) 0%,
        rgba(0, 138, 255, 1) 9%,
        rgba(0, 138, 255, 1) 16%,
        rgba(9, 9, 121, 1) 81%
    );
    overflow: hidden;
}
#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

canvas {
    border-radius: 15px;
    border: 2px solid black;
}
.dice-container > img {
    width: 50px;
    height: 50px;
}
.navbar-container {
    display: flex;
    flex-direction: row;
}

.name-container {
    position: relative;
    min-width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.timer {
    background-color: darkblue;
    color: white;
    position: relative;
    bottom: 60px;
    left: 82px;
    border: 1px solid white;
    padding: 1px;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    animation: timerAnimation 15s linear infinite;
    transition-duration: 15s;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 230px 230px;
    grid-template-rows: 50px 250px 250px 50px;
}

.canvas-container {
    place-self: center;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}
