.container {
    position: relative;
    min-width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}
